@model BookStore_Client.Models.User
@{
    Layout = "~/Views/Shared/_layoutprofile.cshtml";
}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model?.FullName</span>
                <span class="text-black-50">@Model?.Email</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Information</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels">Full Name</label>
                        <p class="form-control-static">@Model?.FullName</p>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Phone</label>
                        <p class="form-control-static">@Model?.Phone</p>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Email</label>
                        <p class="form-control-static">@Model?.Email</p>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Address</label>
                        <p class="form-control-static">@Model?.Address</p>
                    </div>
                    <div class="col-md-12">
                        <label class="labels">Gender</label>
                        <p class="form-control-static">@Model?.Gender</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Có thể giữ phần này trống hoặc xóa nếu không cần -->
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center">
                    <span>Additional Information</span>
                </div>
            </div>
        </div>
    </div>
</div>