@{
    ViewData["Title"] = "Author Page";
}

<!-- About section -->
<section class="about-section py-100" id="author-id">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center gx-10 gy-2">
            <div class="col">
                <div class="about-img position-relative">
                    <img src="/images/home/author.png" alt="Author image" class="img-fluid">
                </div>
            </div>

            <div class="col">
                <h2 class="display-4 fw-bold mb-2">Christina Tores Mike</h2>
                <h5 class="fs-5 fw-bold">Technical writer (Author & Publisher)</h5>
                <p class="py-4">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius Lorem ipsum dolor sit
                    amet, consectetur
                    adipiscing elit, eius mod tempor incididunt labore mod tempor incididunt ut labore.
                </p>

                <ul class="li-unstyled ps-0 check-icon">
                    <li class="mb-2">
                        <i class="bi bi-check-lg"></i><span class="text-h4 ms-2">
                            More Accomplished 10+
                            granted
                        </span>
                    </li>
                    <li class="mb-2">
                        <i class="bi bi-check-lg"></i><span class="text-h4 ms-2">
                            Exceptionally energetic about
                            writting
                        </span>
                    </li>
                    <li>
                        <i class="bi bi-check-lg"></i><span class="text-h4 ms-2">
                            Most Popular writter in the
                            year
                        </span>
                    </li>
                </ul>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius Lorem ipsum dolor sit amet,
                    consectetur
                    adipiscing elit, eius mod tempor
                </p>
                <div class="mt-4 bg-white icon-border">
                    <ul class="d-flex gap-4 li-unstyled ps-0 mb-0">
                        <li><a href="#" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about-section -->
<!-- biography section -->
<section class="biography-section py-100">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 gx-5 gy-4">
            <div class="col">
                <div class="position-relative">
                    <p class="mb-2">About me</p>
                    <h2 class="display-4 fw-bold mb-4">My Biography</h2>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, eius mod tempor incididunt labore mod tempor
                        incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, eius Lorem
                        ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                    <span class="d-block fs-5 mb-4">Exceptionally energetic about writting</span>

                    <div class="border-bottom py-3 mb-5 w-fit-content">
                        <img src="/images/about/author-signature-2.png" class="img-fluid"
                             alt="Author Signature">
                    </div>
                    <a href="#" class="btn btn-primary">Download Books</a>

                    <img src="/images/floating-book.png" class="float-img img-fluid d-none" alt="Book">
                </div>
            </div>
            <div class="col">

                <div class="accordion biography" id="accordionPanelsStayOpenExample">
                    <!-- accordion item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseOne">
                                About My Books?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                             aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <p>
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolorardo amet sint. Velit
                                    officia consequat duis enim velit duis mollit. Exercitation veniam consequat
                                    sunt nos trud amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- accordion item 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Want to Meet Me?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <p>
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolorardo amet sint. Velit
                                    officia consequat duis enim velit duis mollit. Exercitation veniam consequat
                                    sunt nos trud amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- accordion item 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Inspairation
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingThree">
                            <div class="accordion-body">
                                <p>
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolorardo amet sint. Velit
                                    officia consequat duis enim velit duis mollit. Exercitation veniam consequat
                                    sunt nos trud amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- accordion item 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseFour">
                                Publication
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                             aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                                <p>
                                    Amet minim mollit non deserunt ullamco est sit aliqua dolorardo amet sint. Velit
                                    officia consequat duis enim velit duis mollit. Exercitation veniam consequat
                                    sunt nos trud amet.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- biography section -->
<!-- product section -->
<section class="py-100" style="background-color: #E6F1FF;">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="display-4 fw-bold separator">Pre-Order Sale My Book</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, eius
                ipsum dolor sit amet, consectetur adipiscing eliteius.
            </p>
        </div>
        <!-- product -->
        <div class="row row-cols-1 row-cols-md-2 gx-8 gy-5">
            <div class="col">
                <div class="row d-flex align-items-center bg-white p-30">
                    <div class="col-md-6">
                        <div>
                            <img src="/images/author/product-1.png" class="img-fluid" alt="Book">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="pb-3 border-bottom">
                                <h4>365 Days of Self-Love</h4>
                                <p>By : Wermsn Adam</p>
                            </div>
                            <p class="fs-5 mt-3">
                                <span class="text-decoration-line-through text-primary">$110.00</span>
                                <span class="ms-3">$110.00</span>
                            </p>
                            <ul class="li-unstyled ps-0 mb-0 pt-3">
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Art & Culture</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Color Psycholoty</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Tecnology</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">very quiet moments</span>
                                </li>
                            </ul>

                            <a href="checkout.html" class="btn btn-primary mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex align-items-center bg-white p-30">
                    <div class="col-md-6">
                        <div>
                            <img src="/images/author/product-1.png" class="img-fluid" alt="Book">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="pb-3 border-bottom">
                                <h4>365 Days of Self-Love</h4>
                                <p>By : Wermsn Adam</p>
                            </div>
                            <p class="fs-5 mt-3">
                                <span class="text-decoration-line-through text-primary">$110.00</span>
                                <span class="ms-3">$110.00</span>
                            </p>
                            <ul class="li-unstyled ps-0 mb-0 pt-3">
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Art & Culture</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Color Psycholoty</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Tecnology</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">very quiet moments</span>
                                </li>
                            </ul>

                            <a href="checkout.html" class="btn btn-primary mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex align-items-center bg-white p-30">
                    <div class="col-md-6">
                        <div>
                            <img src="/images/author/product-1.png" class="img-fluid" alt="Book">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="pb-3 border-bottom">
                                <h4>365 Days of Self-Love</h4>
                                <p>By : Wermsn Adam</p>
                            </div>
                            <p class="fs-5 mt-3">
                                <span class="text-decoration-line-through text-primary">$110.00</span>
                                <span class="ms-3">$110.00</span>
                            </p>
                            <ul class="li-unstyled ps-0 mb-0 pt-3">
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Art & Culture</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Color Psycholoty</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Tecnology</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">very quiet moments</span>
                                </li>
                            </ul>

                            <a href="checkout.html" class="btn btn-primary mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex align-items-center bg-white p-30">
                    <div class="col-md-6">
                        <div>
                            <img src="/images/author/product-1.png" class="img-fluid" alt="Book">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="pb-3 border-bottom">
                                <h4>365 Days of Self-Love</h4>
                                <p>By : Wermsn Adam</p>
                            </div>
                            <p class="fs-5 mt-3">
                                <span class="text-decoration-line-through text-primary">$110.00</span>
                                <span class="ms-3">$110.00</span>
                            </p>
                            <ul class="li-unstyled ps-0 mb-0 pt-3">
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Art & Culture</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Color Psycholoty</span>
                                </li>
                                <li class="pb-2">
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">Tecnology</span>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-dot"></i>
                                    <span class="ms-2">very quiet moments</span>
                                </li>
                            </ul>

                            <a href="checkout.html" class="btn btn-primary mt-4">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- product end-->
    </div>
</section>
<!-- product section end -->
<!-- Counter section -->
<section class="pt-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 gy-5 counter-section pt-3 pb-5">
            <div class="col">
                <div class="counter-content">
                    <img src="/images/home/icon-10.svg" alt="Counter icon-10" class="img-fluid">
                    <h3 class="counter plus-after">2,540</h3>
                    <span>Copies Sold</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-content">
                    <img src="/images/home/icon-11.svg" alt="Counter icon-11" class="img-fluid">
                    <h3 class="counter m-after">254</h3>
                    <span>Cup Of Coffee</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-content">
                    <img src="/images/home/icon-12.svg" alt="Counter icon-12" class="img-fluid">
                    <h3 class="counter plus-after">40</h3>
                    <span>Languages</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-content">
                    <img src="/images/home/icon-13.svg" alt="Counter icon-13" class="img-fluid">
                    <h3 class="counter percent-after">9.50</h3>
                    <span>Average score</span>
                </div>
            </div>
            <div class="col">
                <div class="counter-content">
                    <img src="/images/home/icon-14.svg" alt="Counter icon-13" class="img-fluid">
                    <h3 class="counter m-after">540</h3>
                    <span>Readers Worldwide</span>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End counter section -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}